# === Global ===
.env
.env.*
!.env.example

# === Backend (Rails) ===
backend/log/*
backend/tmp/*
backend/tmp/**/*
backend/coverage/*
backend/storage/*
backend/node_modules/
backend/.bundle/

# === Docker ===
*.pid

# === OS ===
.DS_Store
