version: "3.9"

services:
  backend:
    build: ./backend
    container_name: my_bookshelf_backend
    command: bash -c "rm -f tmp/pids/server.pid && rails s -b 0.0.0.0"
    volumes:
      - ./backend:/app
      - storage_data:/app/storage
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  web:
    build: ./web
    container_name: my_bookshelf_web
    command: yarn dev
    volumes:
      - ./web:/app
    ports:
      - "3001:3001"
    environment:
      PORT: 3001
      WATCHPACK_POLLING: "true"
      NEXT_PUBLIC_API_BASE_URL: "http://localhost:3000"
      API_BASE_URL: "http://backend:3000"
    depends_on:
      - backend

  db:
    image: postgres:16
    container_name: my_bookshelf_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: my_bookshelf_development
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
  storage_data:
