[MASTER]
# Use multiple processes to speed up Pylint.
jobs=1

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
    W0212,  # protected-access

[FORMAT]
# Set the indent to 2 spaces (instead of the default 4)
indent-string='  '
indent-after-paren=2

# Maximum number of characters on a single line.
max-line-length=100

[BASIC]
# Good variable names which should always be accepted
good-names=i,j,k,ex,Run,_,id,db

[DESIGN]
# Maximum number of arguments for function / method
max-args=7

# Maximum number of attributes for a class
max-attributes=10

[IMPORTS]
# Allow wildcard imports from modules
allow-wildcard-with-all=yes
